@font-face {
  font-family: "MyWebFont";
  /* /Users/milosbojinovic/Documents/mvp-projects/starknet/winter-hack/rancici/client/src/style/funny-samurai/FunnySamuraiDemoOutline.ttf */
  src: url("webfont.eot"); /* IE9 Compat Modes */
  src: url("./funny-samurai/FunnySamuraiDemoOutline.ttf") format("truetype"); /* Safari, Android, iOS */
}

:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: "MyWebFont";
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
  background: rgba(24, 24, 24, 0.663);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  display: inline-block;
  background: transparent;
  text-transform: uppercase;
  font-weight: 500;
  font-style: normal;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.3em;
  color: rgba(75, 15, 99, 0.7);
  color: white;
  border-radius: 0;
  /* padding: 20px 30px; */
  transition: all 0.7s ease-out;
  background: linear-gradient(
    270deg,
    rgba(75, 15, 99, 0.7),
    rgba(136, 28, 179, 0.532),
    rgba(34, 34, 34, 0),
    rgba(34, 34, 34, 0)
  );
  background-position: 1% 50%;
  background-size: 300% 300%;
  text-decoration: none;
  /* margin: 0.625rem; */
  border: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  cursor: pointer;
  padding: 10px 20px;
}

button:hover {
  border-color: white;
  opacity: 1;
}

button:hover {
  color: #fff;
  border: 1px solid rgba(223, 190, 106, 0);
  color: white;
  background-position: 99% 50%;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }
}

canvas {
  display: block;
}

html,
body {
  width: 100%;
  height: 100%;
}
